*.iml
.gradle/
.gradle-*/
.build-home/
.android/
build/
app/build/
/local.properties
*.apk
*.aab
*.jks
*.keystore
playstore/*.jks
playstore/release-key-credentials.txt
.idea/
captures/
.DS_Store
*.log
**/debug.keystore*

my-upload-key.jks
*.jks
